<!DOCTYPE html>
<html lang="en">
<head>
  <title>Document your Request</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div id="outerDiv" style="margin-top:5px;margin-left:8%;margin-right:8%;border-style:groove;border-width:7px;">
  <div class="container">
    <h2><span style="text-decoration:underline;">Please Choose your service and request an appointment</span></h2>
    <p> Please fill in the following details to generate your request. </p>
    <br/>
    <h4> REQUEST DETAILS: </h4>
    <form method="post">{% csrf_token %}

      <div class="form-group">
        <label for="category">Select Service Type:</label>
          <select class="form-control" id="category" name="category">
            <option>Hospital</option>
            <option>House_Repairs</option>
          </select>
      </div>

      <div class="form-group">
        <label for="PhoneNumber">Phone Number</label>
        <input type="username" class="form-control" id="pno" placeholder="+1-000-000-0000" name="pno" required>
      </div>

      <div class="form-group">
        <label for="Email">Email</label>
        <input type="username" class="form-control" id="email" placeholder="email" name="email" required>
      </div>

      <div class="form-group">
        <label for="appointmentTime">Appointment Time</label>
        <input type="username" class="form-control" id="atime" placeholder="Ex: 11th October 1990" name="atime" required>
      </div>

      <div class="form-group">
        <label for="Name">Name of Professional</label>
        <input type="username" class="form-control" id="proname" placeholder="Name" name="proname" required>
      </div>

      <button type="submit" id="submit_button" class="btn btn-default" name="submit_button">Submit</button>
    </form>
  </div>
</div>

<script>
</script>

</body>
</html>
